.app {
  margin-top: env(safe-area-inset-top);
  max-width: 30rem;
  min-height: 0;
  padding: 0.8rem;
  width: 100%;
}

.navbar {
  padding: 1.6rem;
  text-align: center;
}

.navbar button {
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 200;
}

.logo {
  font-size: 1.2rem;
  margin-right: 0.4rem;
}

.error {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}
