.app {
  margin-top: env(safe-area-inset-top);
  max-width: 30rem;
  padding: .8rem;
  width: 100%;
}

.app__nav-bar {
  padding: 1.6rem;
  text-align: center;
}

.app__nav-bar a {
  color: #242729;
  font-size: 1.2rem;
  font-weight: 200;
  text-decoration: none;
}

.app__nav-bar .fa {
  font-size: 1.2rem;
  margin-right: .4rem;
}

.app__error,
.app__spinner {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}
