.wrapper {
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  display: flex;
  position: relative;
}

.nowButton {
  background-color: transparent;
  border: none;
  color: var(--secondary-text-color);
  font-weight: bold;
  padding: 0 0.8rem;
}

.nowOverlay {
  align-items: center;
  background-color: var(--bg-color);
  bottom: 0.8rem;
  display: flex;
  left: 2.4rem;
  pointer-events: none;
  position: absolute;
  right: 0.8rem;
  top: 0.8rem;
}
