.location-input {
  display: flex;
}

.location-input__input {
  width: 100%;
  border: none;
  padding: .8rem;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  -webkit-appearance: none;
  border-radius: 0;
  margin: 0;
  display: block;
}

.location-input__icon, .overlay__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.location-input__icon {
  padding-left: 1rem;
  border-bottom: 1px solid #eee;
}

.location-input__overlay {
  background-color: #fff;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.overlay__icon .fa {
  color: white;
}

.overlay__top-bar {
  background-color: #EE1844;
  display: flex;
  flex: 0 0 auto;
  padding: .5rem .8rem;
}

.overlay__input {
  border: none;
  border-radius: .1rem;
  padding: .4rem;
  flex-grow: 1;
  margin: 0 .8rem;
}

.overlay__cancel {
  border: none;
  background-color: transparent;
  color: white;
  padding: 0;
}

.overlay__suggestions {
  -webkit-overflow-scrolling: touch;
  flex: 1 1 auto;
  list-style: none;
  margin: 0;
  overflow-y: scroll;
  padding: 0;
}

.overlay__suggestion {
  cursor: pointer;
  padding: .8rem;
  border-bottom: 1px solid #eee;
}
