.location-input {
  border-bottom: 1px solid #eee;
  display: flex;
}

.location-input__overlay {
  background-color: #fff;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.overlay__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overlay__icon .fa {
  color: white;
}

.overlay__top-bar {
  background-color: #EE1844;
  display: flex;
  flex: 0 0 auto;
  padding: .5rem .8rem;
}

.overlay__input {
  border: none;
  border-radius: .1rem;
  padding: .4rem;
  flex-grow: 1;
  margin: 0 .8rem;
}

.overlay__cancel {
  border: none;
  background-color: transparent;
  color: white;
  padding: 0;
}
