.wrapper {
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  box-shadow: 0 1px 10px var(--shadow-color);
  display: flex;
  flex: 0 0 auto;
  padding: 0.5rem 0.8rem;
  margin-bottom: 0.8rem;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input {
  background-color: var(--input-bg-color);
  border: none;
  border-radius: var(--border-radius);
  padding: 0.4rem;
  flex-grow: 1;
  margin: 0 0.8rem;
}

.cancelButton {
  border: none;
  background-color: transparent;
  padding: 0;
}
