.location-search-input {
  background-color: var(--bg-color);
  border-radius: .4rem;
  box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
  display: flex;
  flex: 0 0 auto;
  padding: .5rem .8rem;
  margin-bottom: .8rem;
}

.location-search-input__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.location-search-input__input {
  border: none;
  border-radius: .1rem;
  padding: .4rem;
  flex-grow: 1;
  margin: 0 .8rem;
}

.location-search-input__cancel {
  border: none;
  background-color: transparent;
  color: var(--primary-color);
  padding: 0;
}
