.location-list-item {
  border-bottom: 1px solid #eee;
  cursor: pointer;
  padding: .8rem;
}

@media (hover: hover) {
  .location-list-item:hover {
    background-color: #eee;
  }
}

.location-list-item:last-child {
  border: none;
}
