.search-bar__locations,
.search-bar__datetime,
.search-bar__search {
  border-radius: .4rem;
  box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
  position: relative;
  margin-bottom: .8rem;
}

.locations__inputs {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.locations__switch-locations {
  border: none;
  background-color: #fff;
  position: absolute;
  right: .8rem;
  top: 50%;
  transform: translateY(-50%);
}

.locations__switch-locations .fa {
  font-size: 1.2rem;
  color: #757575;
}

.search-bar__search {
  background-color: #EE1844;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: .8rem;
  flex-grow: 1;
  margin: 0;
  width: 100%;
}

.search-bar__search:disabled {
  background-color: #666;
  cursor: default;
}

.search-bar__searching {
  height: 1rem;
  vertical-align: middle;
  margin-left: .4rem;
}
