.search-bar__locations,
.search-bar__datetime,
.search-bar__search {
  border-radius: var(--border-radius);
  box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
}

.search-bar__locations,
.search-bar__datetime {
  margin-bottom: .8rem;
}

.search-bar__locations {
  position: relative;
}

.locations__inputs {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.locations__switch-locations {
  border: none;
  background-color: var(--bg-color);
  position: absolute;
  right: .8rem;
  top: 50%;
  transform: translateY(-50%);
}

.locations__switch-locations .fa {
  font-size: 1.2rem;
  color: var(--secondary-text-color);
}

.search-bar__search {
  background-color: var(--primary-color);
  border: none;
  color: var(--inverted-text-color);
  padding: .8rem;
  width: 100%;
}

.search-bar__search:disabled {
  background-color: var(--disabled-color);
  cursor: default;
}

.search-bar__searching {
  height: 1rem;
  vertical-align: middle;
  margin-left: .4rem;
}
