.search-result {
  margin-top: .8rem;
}

.search-result__earlier-later {
  display: flex;
  justify-content: space-between;
}

.earlier-later__button {
  background-color: transparent;
  border: none;
  padding: .8rem;
}

.search-result__error,
.search-result__spinner {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}
