.search-bar__locations {
  display: flex;
}

.locations__inputs {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.locations__switch-locations {
  cursor: pointer;
  border: none;
  background-color: #fff;
  margin: 0 0 1px 1px;
  padding: .4rem;
}

.locations__switch-locations .fa-exchange {
  font-size: 1.2rem;
  color: #666;
}

.search-bar__datetime {
  display: flex;
}

.search-bar__search {
  background-color: #EE1844;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: .8rem;
  flex-grow: 1;
  margin: 0;
  width: 100%;
}

.search-bar__search:disabled {
  background-color: #666;
  cursor: default;
}

.search-bar__searching {
  height: 1rem;
  vertical-align: middle;
  margin-left: .4rem;
}
