.locations,
.datetime,
.search {
  border-radius: var(--border-radius);
  box-shadow: 0 1px 10px var(--shadow-color);
}

.locations,
.datetime {
  margin-bottom: 0.8rem;
}

.locations {
  position: relative;
}

.switchLocationsButton {
  border: none;
  background-color: var(--bg-color);
  position: absolute;
  right: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
}

.locations .switchLocationsIcon {
  font-size: 1.2rem;
  color: var(--secondary-text-color);
}

.searchButton {
  background-color: var(--primary-color);
  border: none;
  color: var(--inverted-text-color);
  padding: 0.8rem;
  width: 100%;
}

.searchButton:disabled {
  background-color: var(--disabled-color);
  cursor: default;
}

.searchButton .spinnerIcon {
  color: var(--inverted-text-color);
}

.searching {
  height: 1rem;
  vertical-align: middle;
  margin-left: 0.4rem;
}
