.time-picker {
  position: relative;
  width: 50%;
}

.time-picker .fa-clock-o {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: .8rem;
}

.time-picker__input {
  padding: .8rem;
  padding-left: 2.4rem;
  -webkit-appearance: none;
  border: 0;
  margin: 0;
  border-radius: 0;
  width: 100%;
  display: block;
}
