.trip-details {
  list-style: none;
  margin: 0;
  padding: 0 .8rem .8rem .8rem;
}

.trip-details__leg {
  background-color: #eee;
  border-radius: .1rem;
  margin-bottom: .4rem;
  padding: .4rem;
}

.trip-details__leg:last-child {
  margin: 0;
}
