.trip-details {
  list-style: none;
  margin: 0;
  padding: 0;
}

.trip-details__leg {
  background-color: #f4f4f4;
  margin-bottom: 1px;
  padding: .8rem;
}

.trip-details__leg:last-child {
  margin: 0;
}

.trip-details__direction,
.location__track {
  font-size: .8rem;
}

.trip-details__direction {
  margin-bottom: .8rem;
}

.location__overview {
  display: flex;
  font-weight: bold;
}

.trip-details__location:first-child {
  margin-bottom: .8rem;
}

.location__time {
  margin-right: .8rem;
}

.location__name {
  flex: 1;
}

.location__track {
  align-self: center;
  font-weight: normal;
  margin-left: .8rem;
  white-space: nowrap;
}

.location__notes {
  background-color: #fffdf5;
  border: 1px solid #ffdd57;
  border-radius: .4rem;
  padding: .8rem .8rem .8rem 2rem;
  margin: .8rem 0 0 0;
}
