.trip-overview {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trip-overview__origin,
.trip-overview__destination {
  flex: 1 1 0;
  padding: .8rem;
}

.trip-overview__destination {
  text-align: right;
}

.trip-overview__times {
  margin-bottom: .4rem;
}

.trip-overview__time--invalid {
  color: var(--invalid-color);
  margin-left: .4rem;
}

.trip-overview__time .fa {
  color: #00a5dc;
}

.trip-overview__legs,
.trip-overview__travel-time {
  font-size: .8rem;
}

.trip-overview__leg {
  display: inline-block;
  padding: .1rem;
  margin-right: .4rem;
  min-width: 1.2rem;
  text-align: center;
  border-radius: var(--border-radius);
  border-width: 1px;
  border-style: solid;
}
