.overview {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.origin,
.destination {
  flex: 1 1 0;
  padding: 0.8rem;
}

.destination {
  text-align: right;
}

.invalid {
  color: var(--invalid-color);
  margin-left: 0.4rem;
}

.overview .notesIcon path {
  fill: #00a5dc;
}

.legs,
.travelTime {
  font-size: 0.8rem;
}

.travelTime {
  margin-top: 0.4rem;
}

.leg {
  display: inline-block;
  padding: 0.1rem;
  margin: 0.4rem 0.4rem 0 0;
  min-width: 1.2rem;
  text-align: center;
  border-radius: var(--border-radius);
  border-width: 1px;
  border-style: solid;
}
