.trip-details {
  list-style: none;
  margin: 0;
  padding: 0;
}

.trip-details__leg {
  background-color: #f4f4f4;
  margin-bottom: .4rem;
  padding: .4rem;
}

.trip-details__leg:last-child {
  margin: 0;
}

.trip-details__direction,
.location__track {
  font-size: .8rem;
}

.trip-details__direction {
  margin-bottom: .4rem;
}

.trip-details__location {
  display: flex;
  justify-content: space-between;
}

.trip-details__location:first-child {
  margin-bottom: .4rem;
}

.location__time {
  margin-right: .8rem;
}

.location__track {
  align-self: center;
  margin-left: .8rem;
  white-space: nowrap;
}
