:root {
  --body-bg: linear-gradient(#fff, #f4f4f4);
  --border-radius: .2rem;

  --bg-color: #fff;
  --border-color: #eee;
  --disabled-color: #666;
  --info-bg-color: #00a5dc1a;
  --info-color: #00a5dc;
  --invalid-color: #aaa;
  --inverted-text-color: #fff;
  --primary-color: #ee1844;
  --secondary-text-color: #757575;
  --text-color: #242729;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.2;
}

button, input {
  cursor: pointer;
  font: 1rem sans-serif;
  line-height: 1.2;
}

html, input {
  color: var(--text-color);
}

body {
  min-height: 100vh;
}

#app-root {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: var(--body-bg);
  margin: 0;
  padding: 0;
}

.noscroll {
  overflow: hidden;
}

.fa {
  color: var(--primary-color);
  line-height: 1.2;
}
