*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eee;
  overflow-y: hidden;
}

body, button, input {
  font: 1rem Arial, Helvetica, sans-serif;
  line-height: 1.2rem;
}

.fa {
  color: #EE1844;
}
