.location-input {
  position: relative;
}

.location-input__input {
  width: 100%;
  border: none;
  padding: 1rem;
  border-bottom: 1px solid #eee;
}

.location-input__suggestions {
  width: 100%;
  position: absolute;
  margin: 0;
  list-style: none;
  padding: 0;
  background-color: white;
  box-shadow: 0px 1px 3px 0px #515151;
  max-height: 20rem;
  overflow-y: scroll;
  z-index: 10;
}

.location-input__suggestion {
  cursor: pointer;
  padding: 1rem;
}

.location-input__suggestion:hover {
  background-color: #EE1844;
  color: white;
}
