.search__searching {
  text-align: center;
}

.search__trips {
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: 0px 1px 3px 0px #515151;
}

.search__trip {
  background-color: white;
  display: flex;
  text-align: center;
  padding: 1rem;
  justify-content: space-between;
}

.search__trip:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.trip__origin-time {
  text-align: left;
}

.trip__dest-time {
  text-align: right;
}

.trip__leg-name {
  border-radius: .2rem;
  padding: 0 .5rem;
  border: 1px solid #eee;
}
