.search__inputs {
  position: relative;
  display: flex;
  flex-direction: column;
}

.search__input--switched {
  order: 1;
}

.search__switch-locations-button {
  background-color: white;
  border: 1px solid #eee;
  border-radius: 1rem;
  cursor: pointer;
  display: inline-block;
  padding: .5rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.search__switch-locations-button img {
  vertical-align: middle;
}

.search__search-button {
  background-color: #EE1844;
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 1rem;
}

.search__searching {
  text-align: center;
}

.search__trips {
  list-style: none;
  margin: 0;
  padding: 0;
}

.search__trip {
  background-color: white;
  padding: 1rem;
  border-radius: 1px;
  border-bottom: 1px solid #eee;
}

.search__trip-row-one {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.trip__origin-time {
  text-align: left;
}

.trip__dest-time {
  text-align: right;
}

.trip__leg-name {
  border-radius: .2rem;
  padding: 0 .5rem;
  border: 1px solid #eee;
}
