.search-bar {
  background-color: white;
}

.search-bar__locations {
  position: relative;
  display: flex;
  flex-direction: column;
}

.search-bar__locations--switched {
  flex-direction: column-reverse;
}

.locations__switch-locations {
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  border: none;
  position: absolute;
  right: .8rem;
  bottom: 25%;
  transform: translateY(50%);
  z-index: 10;
}

.locations__switch-locations svg {
  height: 1.6rem;
  width: 1.6rem;
  fill: #666;
}

.search-bar__datetime {
  display: flex;
}

.search-bar__search {
  background-color: #EE1844;
  border: none;
  color: white;
  cursor: pointer;
  padding: .8rem;
  flex-grow: 1;
  margin: 0;
  width: 100%;
}

.search-bar__search:disabled {
  background-color: #666;
  cursor: default;
}

.search-bar__searching {
  height: 1rem;
  vertical-align: middle;
  margin-left: .4rem;
}
