.search-bar {
  background-color: white;
}

.search-bar__locations {
  position: relative;
  display: flex;
  flex-direction: column;
}

.search-bar__locations--switched {
  flex-direction: column-reverse;
}

.locations__switch-locations {
  background-color: white;
  border: 1px solid #eee;
  cursor: pointer;
  display: inline-block;
  padding: .1rem;
  position: absolute;
  right: .8rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.locations__switch-locations img {
  vertical-align: middle;
}

.search-bar__datetime {
  display: flex;
}

.search-bar__search {
  background-color: #EE1844;
  border: none;
  color: white;
  cursor: pointer;
  padding: .8rem;
  flex-grow: 1;
  margin: 0;
  width: 100%;
}

.search-bar__search:disabled {
  background-color: gray;
  cursor: default;
}

.search-bar__searching {
  height: 1rem;
  vertical-align: middle;
  margin-left: .4rem;
}
